/* modifica el valor de la opacidad del navbar*/

#imgLogoPersona {
  height: 100px;
  width: 100px;
  color: whitesmoke;
  background-color: white;
}

.textCabecera {
  text-align: center;
  color: white;
  background-color: white;
}

.btn-secundary {
  --bs-bg-opacity: 0.5;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.titulo {
  text-align: center;
}
