.max-width{
  max-width: auto;
  padding: 0 160px; /*separacion de los elementos con respecto al borde*/
  margin: auto;
}

/* modifica el valor de la opacidad del navbar*/

#imgLogoPersona {
  height: 100px;
  width: 100px;
  color: whitesmoke;
  background-color: white;
}

.textCabecera {
  text-align: center;
  color: white;
  background-color: white;
}

.btn-secundary {
  --bs-bg-opacity: 0.5;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}



/*----------------------------SECCION PROYECTOS-----------------------------------*/
main{
  color: #fff;
  padding: 100px 0;
  background: rgb(31, 25, 25);
  height: 100vh;
  overflow-y: scroll;
}
.viajes .title{
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: white;
}
.viajes .title span:hover{
  text-align: center;
  font-size: 70px;
  color:  rgb(173, 0, 58);
}
.viajes .serv-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.viajes .viaje-content .card{
  width: calc(33% - 20px); /*cada card ocupa un 33% del ancho de la pantall, con una separacion de 20cm entre ellos*/
  background: rgb(42, 47, 51);
  text-align: center;
  border-radius: 6px;
  padding: 30px 45px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.3);
  height: 560px;
}
.viajes .viaje-content .card:hover{
  background: rgb(173, 0, 58);
}
.viajes .viaje-content .card .box{
  transition: all 0.3s ease;
}
.viajes .viaje-content .card:hover .box{
  transform: scale(1.05);
}
.viajes .viaje-content .card:hover .box button{
  transform: scale(1.05);
  background: rgb(42, 47, 51);
}
.viajes .viaje-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.viajes .viaje-content .card img{
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.3);
}
.viajes .viaje-content .card img#imgperfil{
  width: 70%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.3);
}

.viajes .viaje-content .card p{
  margin-top: 2px;
}
.viajes .viaje-content .card button.effect{
  display: inline-block;
  background: rgb(173, 0, 58);
  padding: 8px 30px;
  margin-top: 20px;
  font-weight: 600;
  color: white;
  font-size: 17px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
}
.viajes .viaje-content .card a{
  text-decoration: none;
  color: #f1f1f1;
}

.viajes .viaje-content .card button:hover{
  color: white;
  background: rgb(42, 47, 51);
  font-size: 18px;
}
.resumen {
  width: 100%;
  height: 20vh;
  overflow-y: scroll;
  margin-top: 10%;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*-------------------------SECCION CONTACTO----------------------------------------*/
.crearViaje{
  background: rgb(31, 25, 25);
  padding: 3em 12.5em;
}

.crearViaje h1{
  font-size: 60px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.crearViaje h1:hover{
  color:  rgb(173, 0, 58);
  font-size: 70px;
}
.crearViaje h2{
  padding: 20px;
  color: white;
  font-size: 15px;
  text-align: center;
}
/*CAJA DE CONTACT US*/
.caja-contact{
  color: white;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.formulario-contacto{
  margin: 0;
  padding: 40px ;
}
.formulario-contacto form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.formulario-contacto form label{
  display: block;
}
.formulario-contacto form p{
  margin: 0;
  padding: 1em;
}
.formulario-contacto form .bloque{
  grid-column: 1 / 3;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}
.formulario-contacto form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  cursor: pointer;
}
.formulario-contacto form button:hover,
.formulario-contacto form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/*-------------------------SECCION RESPONSIVE--------------------------------------*/
@media (max-width: 1920px){
  .viajes .viaje-content .card {
      height: 590px;
  }
}
@media (max-width: 1760px){
  .viajes .viaje-content .card p{
      margin-top: 2px;
  }
}
@media (max-width: 1400px){
  .viajes .viaje-content .card p{
      margin-top: 2px;
  }
  .viajes .viaje-content .card{
      width: calc(48% - 10px);
      margin-bottom: 20px;
      height: 570px;
  }
}
@media (max-width: 1200px){
  .viajes .viaje-content .card p{
      margin-top: 2px;
  }
  .crearViaje{
    background: rgb(31, 25, 25);
    padding: 3em 8.5em;
}
}

@media (max-width: 1050px){
  .viajes .viaje-content .card p{
      margin-top: 2px;
  }
  .max-width{
      padding: 0 80px; /*separacion de los elementos con respecto al borde*/
  }
  .max-width{
      max-width: 800px;
  }
  .viajes .title{
      font-size: 50px;

  }
  .viajes .title span:hover{
      font-size: 50px;
  }
  .crearViaje{
    background: rgb(31, 25, 25);
    padding: 3em 4.5em;
  }
  .crearViaje h1{
      font-size: 50px;
  }
  .crearViaje h1:hover{
      font-size: 50px;
  }
}
@media (max-width:800px){
  .viajes .viaje-content .card p{
      margin-top: 2px;
  }
  .crearViaje{
    background: rgb(31, 25, 25);
    padding: 3em 1.5em;
  }
  .formulario-contacto form{
      display: block;
  }
}
@media (max-width:710px){
  .viajes .viaje-content .card p{
      margin-top: 2px;
  }
  .viajes .viaje-content .card{
      width: auto;
      margin-bottom: 20px;
      height: 570px;
  }
}
@media (max-width: 500px){
  .viajes .viaje-content .card p{
      margin-top: 2px;
  }
  .max-width{
      padding: 0 20px; /*separacion de los elementos con respecto al borde*/
  }
  .viajes .title{
      font-size: 40px;
  }
  .viajes .title span:hover{
      font-size: 40px;
  }
  .crearViaje h1{
    font-size: 40px;
  }
  .crearViaje h1:hover{
      font-size: 40px;
  }
}

