{% extends "layout.html" %}
{% block body %}
      <!-- contenido de la pagina principal-->

      <main class="viajes" id="viajes">
        <div class="max-width">
            <h2 class="title"><span>Viajes en Curso</span></h2>
            <div class="viaje-content">
              {%for viaje in viajes_front%}
              <div class="card">
                <div class="box">
                    <div class="text">viaje N° - {{viaje[0]}}</div>
                    <img src="{{ url_for('static', filename='img/proy.jpg') }}" alt="">
                    <div class="resumen">
                      <p>Caracteristicas del viaje:<br></p>
                      <p>Fecha de viaje: {{viaje[1]}}</p>
                      <p>Hora de viaje: {{viaje[2]}}</p>
                      <p>Origen de viaje: {{viaje[3]}}</p>
                      <p>Destino de viaje: {{viaje[4]}}</p>
                      <p>Precio de viaje: {{viaje[5]}}</p>
                      <p>Patente de auto: {{viaje[6]}}</p>
                      <p>Asientos disponibles: {{viaje[7]}}</p>

                    </div>
                    <form action="#" method="post">
                      <button type="button" class="effect canc" value="{{viaje[0]}}">Cancelar Viaje</button>
                    </form>
                </div>
            </div>
            {%endfor%}
            </div>
        </div>
    </main>
{% endblock%}
