
{% extends "layout.html" %}
{% block body %}


<!-- Contenido de la tarjeta para cada persona, con sus datos del perfil-->
<main class="viajes" id="viajes">
  <div class="max-width">
      <h2 class="title"><span>PERFIL</span></h2>
      <div class="viaje-content">
        {%for chofer in chofer_perf%}

        <div class="card">
          <div class="box">
              <div class="text">BIENVENIDO</div>
              <img id="imgperfil" src="{{ url_for('static', filename= chofer[4]) }}" alt="">
              <div class="resumen">
                <p>Sus datos:<br></p>
                <p>Nombre: {{chofer[0]}}</p>
                <p>Apellido: {{chofer[1]}}</p>
                <p>DNI: {{chofer[2]}}</p>
                <p>mail: {{chofer[3]}}</p>

              </div>
              <form action="#" method="post">
                <button type="button" class="effect canc" value="{{chofer[0]}}">MODIFICAR DATOS</button>
              </form>
          </div>
      </div>
      {%endfor%}
      </div>
  </div>
</main>

{% endblock%}