
{% extends "layout.html" %}
{% block body %}


<!-- Contenido de la tarjeta para cada persona, con sus datos del perfil-->
<div class="fondoDiv container">
  <h3 class=" text-center" style="margin : 12px;">Perfil</h3>
  <div class="row justify-content-center align-items-center h-100" style="margin-top: 12px; margin-bottom: 12px;">
    <div class="col-4">
    <span class=""
      ><img
        class="bg-light rounded-circle "
        id="imgLogoPersona"
        src="img/icnPersona.png"
        alt="Logo Persona"
        style="width: 100% ; height:120px;"
      /> 
    </span>
    <botton type="button" class="btn btn-success">Editar Foto</botton>
  </div>
    <div class="col-6 ">
      <ul class="container-row-center border border-4 border-dark">
        <li class="light"><h5>Nombre y apellido</h3></li>
        <li>Edad: 30</li>
        <li>DNI : 40003999</li>
        <li>Email: juan@gmail.com</li>
        <li>Estado : estado1</li>
      </ul>
    </div>
  </div>
</div>

{% endblock%}